<!-- HBD Component -->
<section class="hbd-body">
  <div class="flex flex-col items-center justify-center h-full w-full">
    <div>
      <h1 class="pb-16 animate-bounce">
        <span class="bdayMsg">
          Happy Birthday, Chloe!
        </span>
      </h1>
      <div class="pt-20 pb-12">
        <div class="cake"> <!-- Reference: https://codepen.io/fazlurr/pen/gPMJMK -->
          <div class="plate"></div>
          <div class="layer layer-bottom"></div>
          <div class="layer layer-middle"></div>
          <div class="layer layer-top"></div>
          <div class="icing"></div>
          <div class="drip drip1"></div>
          <div class="drip drip2"></div>
          <div class="drip drip3"></div>
          <div class="candle">
            <div class="flame"></div>
          </div>
        </div>
      </div>
      <div class="wordFlicker">
        <app-word-flicker></app-word-flicker>
      </div>
      <div class="homeBtn" (click)="goHome()">
        🏠
        <span class="tooltip">Go back</span>
      </div>
    </div>
    <div #confettiWrapper></div>
  </div>
</section>
<!-- End of HBD Component -->
